<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS for Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Register for TinyApp</title>
  </head>
  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <main>
      <form action="">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" placeholder="firstname.lastname@example.com" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </main>
  </body>
</html>